
#loading_div
{
    height: 100% !important;
	width: 100% !important
}

#property_sliders
{
	overflow: hidden;
}

.property_slider
{
	float: left;
	width: 315px;
	padding: 12px 10px;
}

	.slider_labels
	{
		position: relative;
		margin-bottom: 3px;
		text-align: center;
		overflow: hidden;
	}
	
		.slider_label_min
		{
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.slider_label_max
		{
			position: absolute;
			top: 0;
			right: 0;
		}

	.slider_element
	{
		height: 6px;
		border: 1px solid #999;
	}
	
		.slider_knob_start, .slider_knob_end
		{
			width: 6px;
			height: 12px;
			margin-top: -4px;
			background: #ccc;
			border: 1px solid #999;
		}